<style media = "screen">
    .to-eat{
        float:left;
    }
    .eaten{
        margin-left:100px;
        float:left;
    }
    .burger-form{
        clear:both;
    }
    .center{
        text-align: center;
    }
    .burger-body{
        margin-left:30%;
        margin-top: 10%;
    }
    li {
        background-color: gainsboro;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 5px;
    }
</style>
<h1 class = "center">Eat Da Burger</h1>
<img src = "../public/assets/img/burger.jpg">
<div class = "burger-body">
<div class = "to-eat">
    <h1 >Burger To Eat</h1>
<ul>
    {{#each burger}}
    
    {{#if this.devoured}}
       {{else}}
     <li>{{this.burger_name}}</li>
     
     <button data-id ="{{this.id}}" data-eaten = "{{this.devoured}}" class = "devour">Eat me!</button>
     {{/if}}
     {{/each}}
</ul>
</div>

<div class = "eaten ">

<h1>Devoured</h1>

<ul>
    
    {{#each burger}}
        {{#if this.devoured}}
     <li>{{this.burger_name}}</li>
     {{/if}}
    {{/each}}
</ul>

</div>

<br>
<br>
<div class = "burger-form">

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  
  <button type="submit">Add Burger</button>
</form>
</div>
</div>





